* {
    margin: 0;
    padding: 0;
}
 body {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:black;
 }

 div {
    position: absolute;
    z-index: 1;
 }
 h2 {
    font-family: 'Lobster', cursive;

    font-size: 5em;
    text-align: center;
    color: #ffff;
    -webkit-text-stroke: black 1px;
    background-image: url("assets/1.jpg");
    -webkit-animation: background-animation 5s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 h1 {
    font-size:12em;
     color: #ffff;
     -webkit-text-stroke: white 4px;
     background-image: url("assets/2.jpg");
     -webkit-animation: background-animation 8s linear infinite;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     text-align: center;
 }
 ul {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
 }
 ul li {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    list-style: none;
    background: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    filter: blur(5px);
 }
 ul li:nth-child(odd){
 animation: animateOdd 6s linear infinite;
 animation-delay: 2s;
 }

 /* Animations */

 @keyframes animateOdd{
    0%{
        transform: translate(0,0) scale(1);
        opacity:1;
        filter: hue-rotate(0deg) blur(5px);
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translate(300px,-600px) scale(15);
        opacity:0; 
        filter: hue-rotate(360deg) blur(5px); 
    }
 }

 ul li:nth-child(even){
    animation: animateEven 6s linear infinite;
    }

    @keyframes animateEven{
       0%{
           transform: translate(0,0) scale(1);
           opacity:1;
           filter: hue-rotate(0deg) blur(5px);
       }
       50%{
        opacity: 1;
    }
       100%{
           transform: translate(-300px,-600px) scale(15);
           opacity:2; 
           filter: hue-rotate(360deg) blur(5px);  
       }
    }

    ul li:nth-child(2){
        background: red;
    }
    ul li:nth-child(3){
        background: yellow;
    }
    ul li:nth-child(4){
        background:navy;
    }
    ul li:nth-child(5){
        background: green;
    } 
     ul li:nth-child(6){
        background: orangered;
    } 

    @keyframes background-animation{
        0%{
            background-position: 0 0;
        }
        100%{
            background-position:100% 50%;
        }
    }
